* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 30px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: palevioletred;
    height: 100px;
}

nav {
    background-color: yellow;
    height: 500px;
}

main {
    background-color: blue;
    height: 700px;
}

.header-main {
    background-color: aqua;
    height: 50px;
    margin-bottom: 15px;
}

.column-left {
    float: left;
    background-color: aqua;
    height: 600px;
    width: 20%;
}

.column-center{
    display: inline;
    background-color: aqua;
    height: 600px;
    width: 50%;
}

.column-right {
    display: inline;
    float: right;
    background-color: aqua;
    height: 600px;
    width: 20%;
}

footer {
    background-color: blue;
    height: 35px;
}